.App{
  padding: 25vh 25vw;
  overflow: hidden;
}
#quote-box{
  text-align: center;  
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
  padding: 7em;
  border-radius: 10%;
  max-width: 45vw;
  margin: auto;
}




.flexContainer{
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

#author{
  text-align: right;
}

#tweet-quote{
  text-decoration: none;
}





